<div id="wrapper">
  <div id="header">
    <div class="logo">
      <a href="/">
        <img src="images/logo.png">
        <span>Discount Map</span>
      </a>
    </div>
    <div id="user-board">
      <ul class="user-panel">
        <% if current_user %>
          <li class="user-name"><%= current_user.name%></li>
          <li><button id="notifications"><span class="yt-uix-button-content">30</span></button></li>
          <li><a href="#">
            <img class="avatar" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/1119702_100000499350811_524158945_q.jpg">
          </a></li>
          <li><a href="/signout">
            <img src="/images/settings.png" class="settings">
          </a></li>
        <% else %>
          <li class="user-name"><%= link_to "Login with FUCKBOOK", "/auth/facebook/" %></li>
          <li class="user-name"><%= link_to "Login with Phone", "/signin" %></li>
        <% end %>
      </ul>
    </div>
    <div id="search">
      <input type="text" class="search-box" placeholder="Search for something here...">
      <div class="category-select">
        <select>
              <option>Select an option</option>
              <option>Am thuc</option>
              <option>Dien May</option>
              <option>Via He</option>
              <option>Gia dung</option>
          </select>
      </div>
    </div>
  </div>
  <div id="left-panel">
    <div id="scroll-left-panel">
    <ul class="recommended-items">
      <li>
        <img src="http://i.place.vn/Content/images/places/86/sen-tay-ho-1_small.jpg">
        <div class="item-info">
          <span class="item-title"><a href="#">Nhà hàng Sen Tây Hồ</a></span>
          <p class="item-address">
            614 Lạc Long Quân (khuôn viên Công viên nước Hồ Tây) - Tây Hồ - Hà Nội
          </p>
        </div>
      </li>
      <li>
        <img src="http://i.place.vn/Content/images/places/92/sen%20ha%20thanh_small.jpg">
        <div class="item-info">
          <span class="item-title"><a href="#">Nhà hàng Sen Hà Thành</a></span>
          <p class="item-address">
            177 Bùi Thị Xuân (sau tòa nhà Vincom) - Hai Bà Trưng - Hà Nội
          </p>
        </div>
      </li>
      <li>
        <img src="http://i.place.vn/Content/images/places/292/sumo-bbq-2_small.jpg">
        <div class="item-info">
          <span class="item-title"><a href="#">SumoBBQ - Hoàng Quốc Việt</a></span>
          <p class="item-address">
            132 – 134 Hoàng Quốc Việt - Cầu Giấy - Hà Nội
          </p>
        </div>
      </li>
      <li>
        <img src="http://i.place.vn/Content/images/places/66308/539678-325794627511459-78467733-n_small.jpg">
        <div class="item-info">
          <span class="item-title"><a href="#">Outdoor Club</a></span>
          <p class="item-address">
            Ngõ 200 Âu Cơ - Tây Hồ - Hà Nội
          </p>
        </div>
      </li>
    </ul>
    </div>
  </div>
  <div id="map-area">
    <div id="map-canvas">
    </div>
  </div>
</div>

<%= javascript_tag do %>
  window.stores = <%=raw @stores.to_json %>;
<% end %>
<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
<script type="text/javascript">
  //initialize map
  var map = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 14,
    center: new google.maps.LatLng(21.006550403, 105.850),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });
  //set center map to client position
  var client_pos;
  if (navigator.geolocation){
      navigator.geolocation.getCurrentPosition(setClientPosition,handleError);
  }
  function setClientPosition(position){
    client_pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
    map.panTo(client_pos);
    var marker;
    marker = new google.maps.Marker({
      position: client_pos,
      title: "your position",
      map: map
    });
  }
  function handleError(error){
    switch(error.code){
      case error.PERMISSION_DENIED:
        console.log("User denied the request for Geolocation.");
        break;
      case error.POSITION_UNAVAILABLE:
        console.log("Location information is unavailable.");
        break;
      case error.TIMEOUT:
        console.log("The request to get user location timed out.");
        break;
      case error.UNKNOWN_ERROR:
        console.log("An unknown error occurred.");
        break;
    }
  }
  //display stores
  var infowindow = new google.maps.InfoWindow();
  var marker, i;
  for (i = 0; i < stores.length; i++) {  
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(stores[i].pos_x, stores[i].pos_y),
      title: stores[i].name,
      map: map
    });
    google.maps.event.addListener(marker, 'click', (function(marker, i) {
      return function() {
        popup_content = 
          "<b>"+stores[i].name+"</b><br><p>"+stores[i].address+"</p><a href='\/stores\/"+stores[i].id+"'' target='_blank'>View this location</a>";
        infowindow.setContent(popup_content);
        infowindow.open(map, marker);
      }
    })(marker, i));
  }
</script>