<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
    <%= f.hidden_field :provider, :value => "phone"%>
      <div class="field">
        <%= f.label :phone_number %><br>
        <%= f.text_field :phone_number %>
      </div>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Confirmation" %><br>
        <%= f.password_field :password_confirmation %>
      </div>
      <%= f.submit "Create new User", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>