<p id="notice"><%= notice %></p>

<p>
  <strong>Begin date:</strong>
  <%= @promotion.begin_date.to_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @promotion.end_date.to_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @promotion.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @promotion.status %>
</p>

<p>
  <strong>Store:</strong>
  <%= @promotion.store.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @promotion.category.name %>
</p>
<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
